.base_layout {
    display: flex;
    flex-direction: row;
}

.header {
    margin-bottom: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px white;
    min-height: 5rem;
}