.nav_base {
    min-width: 300px;
    height: 100vh;
    overflow: auto;
    border-right: solid 1px white;
    color: white !important;
}

.navbar {
    margin-bottom: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px white;
    min-height: 5rem;
}